* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

h2,
h3,
p {
  margin: 0;
}

h2 {
margin-bottom: 20px;
}

img {
  max-width: 100%;
  height: auto;   
}
 .container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.breed-select {
  padding: 5px;
  margin-bottom: 10px;
}
.cat-info {
  display: flex;
  flex-direction: row;
  gap: 10px; 
}

.cat-info-text {
  margin-bottom: 15px;
}

.cat-info-text-bold {
  font-weight: 700;
}

.cat-info-text-temp {
  font-weight: 400;
}


/* .timer {
  display: flex;
  gap: 24px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  font-size: 35px;
  color: blueviolet;
}

.label {
  font-size: 20px;
  color: blueviolet;
}

button:disabled {
  background-color:blanchedalmond;
}

button {
  background-color:chartreuse;
  cursor: pointer;
} */